name: CI

on:
  push:
    branches:
      - main
      - release/*
  pull_request:
  merge_group:

permissions:
  contents: read

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: ${{ github.head_ref != 'main' }}

jobs:
  checks:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          # Node is at 20.x version because of extest (20.x is tested with it)
          # https://github.com/redhat-developer/vscode-extension-tester?tab=readme-ov-file#requirements
          # NOTE: If we eventually upgrade to 22.x, chai library can be then upgraded as well
          #       (we don't really need the latest one though)
          node-version: "20.x"
          cache: npm
      # https://github.com/redhat-developer/vscode-extension-tester/blob/eaf266f43e1dca66cb0d660ecbf8f59e56af4808/KNOWN_ISSUES.md?plain=1#L64
      # This applies to all other usages of this command in this file
      - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - run: npm ci
      - run: npm run lint-fmt
      - run: npm run lint-eslint
  setup-ui-test:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          cache: npm
      - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - run: npm ci
      - run: npm run setup-ui-test
      - name: Cache UI Test Resources
        uses: actions/cache/save@v4
        with:
          path: /tmp/test-resources
          key: test-resources-${{ github.sha }}
  test:
    name: test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          cache: npm
      - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      - run: npm ci
      - run: npm run compile-test
      - run: npm test
  ui-test-scarb:
    name: check scarb from different sources
    strategy:
      matrix:
        from-config: [true, false]
        from-path: [true, false]
        from-asdf-local: [true, false]
    needs:
      - setup-ui-test
    runs-on: ubuntu-24.04
    steps:
      - name: Restore Test Resources Cache
        uses: actions/cache/restore@v4
        with:
          path: /tmp/test-resources
          key: test-resources-${{ github.sha }}
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
          cache: npm
      - run: sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
      # Scarb in PATH
      - run: |
          curl --proto '=https' --tlsv1.2 -sSf https://docs.swmansion.com/scarb/install.sh | sh -s -- -v "2.12.2"
          echo "PATH_SCARB_VERSION=2.12.2" >> $GITHUB_ENV
        if: ${{ matrix.from-path }}

      # Scarb in config on ~/.local/bin/scarb
      - run: |
          curl --proto '=https' --tlsv1.2 -sSf https://docs.swmansion.com/scarb/install.sh | sh -s -- -p -v "2.11.4"
          echo "CONFIG_SCARB_VERSION=2.11.4" >> $GITHUB_ENV
        if: ${{ matrix.from-config }}

      # Scarb from asdf
      - uses: asdf-vm/actions/setup@v3
        if: ${{ matrix.from-asdf-local }}
      - run: |
          asdf plugin add scarb
          asdf install scarb "2.10.1"
          asdf local scarb "2.10.1"
          echo "ASDF_SCARB_VERSION=2.10.1" >> $GITHUB_ENV
        if: ${{ matrix.from-asdf-local }}

      - run: npm ci
      - run: npm run compile-test
      - run: xvfb-run --auto-servernum --server-args='-screen 0 1920x1080x24' npm run ui-test-scarb
  test-ui-parametrized:
    needs:
      - setup-ui-test
    uses: ./.github/workflows/ui-test-parametrized.yml
    with:
      scarb_versions: '["disabled", "2.11.4", "2.12.2", "latest"]'
  test-ui:
    if: ${{ always() }}
    needs:
      - test-ui-parametrized
      - ui-test-scarb
    runs-on: ubuntu-24.04
    steps:
      - if: needs.test-ui-parametrized.result == 'success' && needs.ui-test-scarb.result == 'success'
        run: exit 0
      - if: needs.test-ui-parametrized.result != 'success' || needs.ui-test-scarb.result != 'success'
        run: exit 1
