name: Nightly

on:
  schedule:
    - cron: "0 0 * * *"

permissions:
  contents: read

jobs:
  check-cairo-snippets:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: "20.x"
      - run: bin/check-cairo-snippets.sh
