on:
  workflow_call: # This makes it callable from other workflows
    inputs:
      scarb_versions:
        required: true
        type: string
        description: "JSON array of SCARB versions (e.g., ['latest', 'disabled', '2.8.5'])"
jobs:
  test-ui-parametrized:
    name: test ui
    strategy:
      matrix:
        scarb: ${{ fromJson(inputs.scarb_versions) }}
        os: [ubuntu-24.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Restore Test Resources Cache
        uses: actions/cache/restore@v4
        with:
          path: /tmp/test-resources
          key: test-resources-${{ github.sha }}
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: npm
      - uses: software-mansion/setup-scarb@v1
        if: ${{ matrix.scarb != 'disabled' }}
        with:
          scarb-version: ${{ matrix.scarb }}
      - run: npm ci
      - run: npm run compile-test
      - run: echo "SCARB_VERSION=${{ matrix.scarb }}" >> $GITHUB_ENV
        shell: bash
      - run: |
          sudo sysctl -w kernel.apparmor_restrict_unprivileged_userns=0
          xvfb-run --auto-servernum --server-args='-screen 0 1920x1080x24' npm run ui-test
        if: ${{ matrix.os == 'ubuntu-24.04'}}
      - run: npm run ui-test
        if: ${{ matrix.os != 'ubuntu-24.04'}}
